body{
  background: #000;
}
 body .area1 {
  display: inline-block;;
  background: #ff9999;
  width: 100px;
  height: 100px;
}

body .area1 p {
 display: inline-block;;
 background: #FFF;

}

body .area2 {
   display: inline-block;;
   background: #FFF;
   /*width: 100px;
   height: 100px;*/
   height: auto;

}
